body{
    margin: 0;
    overflow-x: hidden;
}

.cart-section {
    margin: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.back-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}

.back-btn:hover {
    background: #e64a19;
}

.cart-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
}

.cart-item img {
    width: 150px;
    height: 130px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px; /* 🔥 spacing control */
}

.item-details h3 {
    margin: 0;
}

.item-details p {
    margin: 5px 0;
}

.item-details button {
   background: #ff5722;
  color: white;
  border: none;
 height: 28px;
  border-radius: 5px;
  font-size: 16px;  
cursor: pointer;
  width: fit-content;
  margin-top: 5px;
}


.total {
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.checkout-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
.qty-box {
    position: relative;
    top: -50px;
  display: flex;
  align-items: center; /* 🔥 vertical center fix */
  gap: 10px;
  margin-left: auto;
}

.qty-box button {
  background: #ff5722;
  color: white;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.qty-box span {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
  display: flex;
  align-items: center;   /* 🔥 center */
  justify-content: center;
}