.product-card {
  display: flex;
  gap: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
}

.product-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.card-details h3 {
  margin: 0;
}

.card-details button {
  background: orange;
  border: none;
  padding: 8px 12px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}